openapi: 3.0.0
info:
  title: TODO API
  version: 0.1.0
paths:
  /todos:
    get:
      summary: List todos
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: sort_by
          schema:
            type: string
      responses:
        '200':
          description: OK
    post:
      summary: Create todo
      requestBody:
        required: true
      responses:
        '201':
          description: Created
  /todos/{id}:
    get:
      summary: Get todo
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
