# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_run:
    workflows: ['Update go.sum']
    types: [completed]
    branches: [main]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.23', '1.24', '1.25', '1.x' ]
    name: Go ${{ matrix.go }}
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}

    - name: Download modules
      run: go mod download

    - name: Install swag
      run: |
        go install github.com/swaggo/swag/cmd/swag@latest
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Generate Swagger docs
      run: swag init -g main.go -o docs || true

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -race -v ./...
